@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/pt-root-ui_regular.woff2') format('woff2'),
    url('fonts/pt-root-ui_regular.woff') format('woff'),
    url('fonts/pt-root-ui_regular.ttf') format('ttf');
  /* Add additional font formats if available */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'PT Root UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
