.container {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  text-transform: uppercase;
  margin-right: 20px;
  text-wrap: nowrap;
}

.links {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  .title {
    /* margin-bottom: 20px; */
  }

  .row {
    display: flex;
    /* flex-direction: column; */
  }
}
