.link {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
}

.linkItem {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.iconGap {
  margin-right: 8px;
}

.textActive:hover {
  color: #026c6a;
}

@media screen and (max-width: 820px) {
  .link {
    margin-bottom: 10px;
  }
}
