.link {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
}

.linkItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.iconGap {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.textActive {
  color: #026c6a;
}

@media screen and (max-width: 900px) {
  .link {
    /* margin-bottom: 20px; */
  }

  .text {
    display: none;
  }
  .textActive {
    display: none;
  }
}
